@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-brand-primary: #1277BD  ;
  --color-brand-secondary: #FED411;
  --color-brand-tertiary: #222;
  --color-brand-accent: #f5f5f5;
  --color-brand-textColorMain: #000;
}
