@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Primairy Brand Colors */
    --color-brand-primary: #1277BD  ;
  --color-brand-secondary: #FED411;
  --color-brand-tertiary: #222;
  --color-brand-accent: #f5f5f5;
  --color-brand-textColorMain: #000;


  /* Backround Colors */
  --color-backgroundDark: #222;
  --color-backgroundLight: #fff;

  /* Text Color */
  --color-text: #11181C;
  --color-text-dark: #fff;
}
